/* slider */
#hero-image{
    background: url(../image/banner1.jpg) no-repeat center;
    padding: 300px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}
.hero-content{
    color: white;
    font-size: 35px;
}
.hero-content h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 10px 10px black;
}
.hero-content p:last-child{
    position: relative;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.hero-content p:last-child::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
}
#hero-image a{
    color: white;
    border-color: white;
}
/* btn getmeal */
.btn-GETMEAL{
    color: lightcoral;
    text-decoration: none;
    border: 2px solid lightcoral;
    display: inline-block;
    padding: 4px 0;
    border-radius: 5px;
    position: relative;
    text-align: center;
}
.btn-GETMEAL:hover{
    color: #fff;
    text-decoration: none;
}
.btn-GETMEAL::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    opacity: .5;
    transition: .5s;
    background: blanchedalmond;
}
.btn-GETMEAL:hover::after{
    width: 100%;
}

/* img food */
#imgFood{
    max-width: 90%;
    height: auto;
}
/* detail */
#detail>h1{
    font-size: 40px;
    text-decoration: underline;
}
#detail>p{
    font-size: 20px;
}
#detail>#instructions{
    font-size: 18px;
}
#tdIMG{
    text-align: center;
    width: 500px;
}
table{
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 14px 0px grey;
    margin: 10px;
}