*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

#body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background-position: center center;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding-top: 5px;
    backdrop-filter: blur(8px);
}
/* ---------------------------------------------------------------------------------------------------------- */
/* slider */
#hero-image {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
}
.hero-content {
  color: white;
  font-size: 35px;
  margin-left: 50px;
}
.hero-content h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 10px 10px black;
}
.hero-content p:last-child {
  position: relative;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.hero-content p:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 3px;
  background: white;
  left: 30%;
}
/* btn getmeal */
/* ------------------------------------------------------------------------------------------------------ */

.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.card{
    border-radius: 20px;
    width: 450px;
    height: 450px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 20px;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5 all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.info>h1{
    margin: 0;
    text-shadow: 5px 5px 10px black;
}
.favo{
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px black;
}
#btn{
    text-decoration: unset;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}


/* --------------------------------------------------------------------------------------------------------- */
/* .btn-GETMEAL {
  color: black;
  background: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.btn-GETMEAL:hover {
  color: #fff;
  text-decoration: none;
}
.btn-GETMEAL::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  opacity: 0.5;
  transition: 0.5s;
  background: blanchedalmond;
}
.btn-GETMEAL:hover::after {
  width: 100%;
} */